header{
     
    nav{ 
     background-color: plum;
     border-bottom: 1px black solid;
     padding-top: 30px;
     position: fixed;
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 9999;

       
         
        ul{
            display: flex;
            justify-content:space-around;


            li{
                list-style: none;
                margin-top: 20px;
                

                a {
                    text-decoration: none;
                    font-family: 'Montserrat', sans-serif;
                    font-size:larger;
                    color: black;
                    
                }
            }
        }
        img{
            width: 100px;
            height: 80px;
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            border-radius: 70%;
        }
    }
}